.cart{
    background-color: #fff;
    padding:30px 15px;
    .cart-top{
        .payment{
            display: flex;
            .payment-item{
                width:33%;
                padding-left: 35px;
                position: relative;
                .payment-link{
                    font-size: 14px;
                    font-weight: bold;
                    display: block;
                    line-height: 35px;
                    padding:5px 0;
                }
                &:after{
                    content:"";
                    position: absolute;
                    z-index: 1;
                    top: -4px;
                    right: -41px;
                    border-width: 27px;
                    border-style: solid;
                    border-left:13px solid;
                    border-color: transparent transparent transparent #fff;
                }
                               
            }
            .payment-item:nth-child(1){
                    background-color: #f0f0f0;
                    &:before{
                        content:"";
                        position: absolute;
                        top: -1px;
                        right: -37px;
                        z-index: 10;
                        border-width:24px;
                        border-style: solid;
                        border-left:13px solid;
                        border-color: transparent transparent transparent #f0f0f0;
                    }
            }
            .payment-item:nth-child(2){
                background-color: #f4f9fd;
                &:before{
                    content:"";
                    position: absolute;
                    top: -1px;
                    z-index: 20;
                    right: -37px;
                    z-index: 10;
                    border-width:24px;
                    border-style: solid;
                    border-left:13px solid;
                    border-color: transparent transparent transparent #f4f9fd;
                }
            }
            .payment-item:nth-child(3){
                background-color: #f0f0f0;
            }
        }
    }


            .payment-item{
                margin-top:20px;
                border:1px solid #f0f0f0;
            }
            .pay-head{
                    padding:5px 10px;
                    background-color: #f0f0f0;
            }
            .pay-body{
                font-size: 13px;
            }
            .pay-item{
                display: flex;
                align-items: center;
                padding:10px;
                justify-content: space-between;
                        &-left{
                           color:#222;
                        }
                        &-right{
                        input{
                            width:300px;
                            height:40px;
                            padding-left:10px;
                            border:1px solid #f0f0f0;
                        }
            }
        }
            .payment-item:nth-child(2){
                
                .pay-item{
                    margin-left:5px;
                    img{
                        border:1px solid #ccc;
                        padding:6px 20px;
                        height:79px;
                        border-right:0;
                    }
                    .pay-item-body{
                        
                        padding:10px 20px;
                        border:1px solid #ccc;
                    }
                }
            }
        
        .cart-body-right{

            .payment-item{
                margin-top:20px;
                border:1px solid #f0f0f0;
                .pay-head{
                    padding:5px 10px;
                    background-color: #f0f0f0;
                }
            }
        }
        .cart-body-bot{
            margin-top:40px;
            text-align: center;
            a{
                color:white;
                border-radius: 5px;
                padding:5px 15px; 
                background-color: #d60c0c;
            }
        }
   
    }