
.content-right{
    .web-link{

    }
    .detail{      
        .detail-top{
            .detail-img{
                .carousel-item{
                    img{
                        width:100%;
                        
                    }
                }
            }
            .detail-data{
                .data-head{

                }
                .data-des{

                }
                .data-other{
                    .data-price{

                    }
                    .buy-btn{
                        background-color:#d60c0c;
                    }
                    .modal-show{
                        display: none;
                        z-index: 99999;
                        position: fixed;                  
                        width:90%;
                        left:21%;
                        max-width: 800px;
                        top:20%;
                        background-color: #fff;
                        border:1px solid #333;
                        .modal-show-content{
                            border-bottom:1px solid rgba(0,0,0,0.3);
                            padding-bottom:40px;
                            .modal-show-head{
                                padding:15px 10px;
                                font-size: 20px;
                                i{
                                    color:royalblue;
                                    margin-right: 20px;
                                }
                            }
                            .modal-show-body{
                                font-size: 12px;
                                .modal-list:nth-child(1){
                                    background-color: #f7f7f7;
                                    margin:10px 0;
                                }
                                .modal-list:nth-child(2){
                                    .modal-item:first-child{
                                        display: flex;
                                        img{
                                            width:30%;
                                            margin-right: 10px;
                                            border:1px solid rgba(0,0,0,0.3);
                                        }
                                        .modal-item-body{
                                            p{

                                            }
                                            button{
                                                background-color: #fff;
                                            }
                                        }
                                    }
                                }
                                .modal-list:nth-child(3){
                                    
                                }
                            }
                        }
                        .modal-show-action{
                            padding:20px;
                            .modal-price{
                                text-align: center;
                            }
                            .modal-control{
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                        .btn-close{
                            position: absolute;
                            top:-8px;
                            right:-8px;
                            color:#fff; 
                            cursor: pointer;
                            border-radius: 10px;
                            background-color: gray;
                        }
                        .modal-list{
                            display: flex;
                            .modal-item:first-child{
                                width:50%;
                                padding-left:10px;
                            }
                            .modal-item{
                                width:15%;
                                .modal-link{
                                    display: block;
                                    padding:5px 0;
                                }
                            }
                            .modal-item:last-child{
                                width:20%;
                            }

                        }
                    }
                    .data-btn{

                        .cart-box{
                            display: none;
                            position: absolute;
                            width:700px;
                            top:-10%;
                            left:-65%;
                            height:300px;
                            background-color: #fff;
                            z-index: 21212;
                            margin:auto;
                            i{
                                position: absolute;
                                background-color: red;
                                color:black;
                                font-size: 30px;
                                top: -15px;
                                right: -15px;
                                border-radius: 15px;                                
                            }
                        }
                    }
                    .data-add{
                        img{

                        }
                        .data-info{

                        }
                    }
                }
            }
        }
        .detail-bot{
            .tab-content{

                &-item{
                    padding:15px;
                    font-size: 14px;
                    p{
                        color:#1D8ACB;
                    }
                    h3{
                        color:#1D8ACB;
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}