.content-right .detail .detail-top .detail-img .carousel-item img {
  width: 100%;
}

.content-right .detail .detail-top .detail-data .data-other .buy-btn {
  background-color: #d60c0c;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show {
  display: none;
  z-index: 99999;
  position: fixed;
  width: 90%;
  left: 21%;
  max-width: 800px;
  top: 20%;
  background-color: #fff;
  border: 1px solid #333;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 40px;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content .modal-show-head {
  padding: 15px 10px;
  font-size: 20px;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content .modal-show-head i {
  color: royalblue;
  margin-right: 20px;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content .modal-show-body {
  font-size: 12px;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content .modal-show-body .modal-list:nth-child(1) {
  background-color: #f7f7f7;
  margin: 10px 0;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content .modal-show-body .modal-list:nth-child(2) .modal-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content .modal-show-body .modal-list:nth-child(2) .modal-item:first-child img {
  width: 30%;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-content .modal-show-body .modal-list:nth-child(2) .modal-item:first-child .modal-item-body button {
  background-color: #fff;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-action {
  padding: 20px;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-action .modal-price {
  text-align: center;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-show-action .modal-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .btn-close {
  position: absolute;
  top: -8px;
  right: -8px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  background-color: gray;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-list .modal-item:first-child {
  width: 50%;
  padding-left: 10px;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-list .modal-item {
  width: 15%;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-list .modal-item .modal-link {
  display: block;
  padding: 5px 0;
}

.content-right .detail .detail-top .detail-data .data-other .modal-show .modal-list .modal-item:last-child {
  width: 20%;
}

.content-right .detail .detail-top .detail-data .data-other .data-btn .cart-box {
  display: none;
  position: absolute;
  width: 700px;
  top: -10%;
  left: -65%;
  height: 300px;
  background-color: #fff;
  z-index: 21212;
  margin: auto;
}

.content-right .detail .detail-top .detail-data .data-other .data-btn .cart-box i {
  position: absolute;
  background-color: red;
  color: black;
  font-size: 30px;
  top: -15px;
  right: -15px;
  border-radius: 15px;
}

.content-right .detail .detail-bot .tab-content-item {
  padding: 15px;
  font-size: 14px;
}

.content-right .detail .detail-bot .tab-content-item p {
  color: #1D8ACB;
}

.content-right .detail .detail-bot .tab-content-item h3 {
  color: #1D8ACB;
  font-weight: bold;
  font-size: 16px;
}
/*# sourceMappingURL=detail.css.map */